
.overlay {background:rgba(0, 0, 0, 0.2);border: solid 2px oldlace;}
.overlay.highlight {background:rgba(255, 0, 0, 0.3);cursor:pointer;}

.viewer { width:100%;transition: width 1s; }

.panel { 
  position: absolute;
  right: -30%;
  width: 30%;
  top:0;
  bottom:0;
  transition: right 1s;
  background: #f7f7f7;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
 }
 
#navpanel {
  position: absolute;
  right:0;
  top:0;
  bottom:0;
  left:0;
  border:solid 1px black;
  display:flex;
  visibility:hidden;
  transition:opacity 1s;
  opacity:0;
  background: #f3f3f3;
  flex-direction:column;
  justify-content: space-between;
  gap:1em;
  padding:1em;
}
#navpanel.shown {visibility:visible; opacity:1;transition:opacity 1s;}

#navpanelhead { display: flex; justify-content: space-between;gap:1em; }

#navpanelcontent {
  display: flex;
  flex-direction: column;
  height:100%;
}
#addmanifest { display:flex;margin:1em;width:100% } 
#addmanifest input { padding: 0.6em 2em; }
#addmanifest input[type='text'] { width:100%; }
.viewer.split { width:70%;transition: width 1s; }
.panel.split { right: 0%; transition: right 1s; }
#navpanel.split { right: 0%; transition: right 1s; }

.panel.shown { display:block; }

#previewImg { margin-bottom:1em;text-align:center; }
#preview { max-height:95%;max-width:95%;box-shadow: 0 0 5px #444;border-radius:3px; }
.imageFrame { margin-bottom:1em;text-align:center; }
.image { max-height:95%;max-width:95%;box-shadow: 0 0 5px #444;border-radius:3px;  }


.tile { 
  width:150px;
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile.sm {
  width:100px;
  height:100px;
}
.tile img {
  max-width:90%;
  max-height:90%;
  display: block;
  margin:auto;
  box-shadow:0 0 5px #444;
}
 .tile.active img { 
  border: solid 2px red;
 } 
.tile.active {}

.counter {
  position: absolute;
  right: 0;
  background: black;
  color:white;
  padding: 4px 8px;
  border-radius: 2em;
}


#annoForm {
  display:none;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  height:90%;
  margin-bottom:1em;
}
#annoForm.shown {display:flex;flex-direction:column;}



#annoForm textarea { padding:1em;border:none; border-radius: 10px;height:90%; }
#annoForm input { padding:1em;border:none; border-radius: 10px; }

#annoList {
  display: none;
  flex-direction: column;
  gap: 0.5em;
  padding:0.2em;
  height:90%;
  overflow-y: auto;
  margin-bottom: 1em;
}
#annoList.shown { display: flex; }
#annoTools {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.annotools img { margin:4px; }

.button { 
  background:black;
  padding:0.4em 1em;
  border-radius:4px;
  color:white;
}





.annotation {
  color: #444;
  margin: 0px;
  padding:2em 2em 1em;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
}
.annotation.selected { background-color: #ccc; }

#annoSubmit {
  cursor:pointer;
}
#gallerycontainer {overflow-y: auto;height: 82%;}
#gallery {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  grid-template-rows: 10rem;
  grid-gap: 0.5em;
}


.tags { margin: 1em 0;}
.tag { background:black;padding:0.3em 0.7em;margin-right:4px;border-radius:30px;color:white;font-size:0.85em; }
